<div class="example-container">

  <mat-form-field>
    <input matInput placeholder="First Name" [(ngModel)]="firstName" [formControl]="firstNameControl">
    <mat-error *ngIf="firstNameControl.invalid">{{getErrorMessage(firstNameControl)}}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Last Name" [(ngModel)]="lastName" [formControl]="lastNameControl">
    <mat-error *ngIf="lastNameControl.invalid">{{getErrorMessage(lastNameControl)}}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="UserId" [(ngModel)]="userId" [formControl]="userIdControl">
    <mat-error *ngIf="userIdControl.invalid">{{getErrorMessage(userIdControl)}}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" [formControl]="passwordControl"
      [(ngModel)]="password">
    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    <mat-error *ngIf="passwordControl.invalid">{{getErrorMessage(passwordControl)}}</mat-error>
  </mat-form-field>

  <mat-error *ngIf="error?.error.message">{{error.error.message}}</mat-error>

  <div class="example-button-row">
    <button mat-stroked-button color="" [routerLink]="['/create-account']">Create Account</button>
  </div>

</div>
