<div class="example-container">

  <mat-form-field>
    <input matInput placeholder="UserId" [(ngModel)]="userId" [formControl]="userIdControl">
    <mat-error *ngIf="userIdControl.invalid">{{getErrorMessage(userIdControl)}}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" [formControl]="passwordControl"
      [(ngModel)]="password">
    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    <mat-error *ngIf="passwordControl.invalid">{{getErrorMessage(passwordControl)}}</mat-error>
  </mat-form-field>

  <mat-error *ngIf="error?.error.message">{{error.error.message}}</mat-error>

  <div class="example-button-row">
    <button mat-raised-button color="primary" [disabled]="disableButton()" (click)="onSubmit()">Login</button>
    <button mat-stroked-button color="" [routerLink]="['/create-account']">Sign Up</button>
  </div>

</div>
