<div class="example-container">

  <mat-form-field>
    <input matInput placeholder="UserName" [(ngModel)]="userName" [formControl]="userNameControl">
    <mat-error *ngIf="userNameControl.invalid">{{getErrorMessage(userNameControl)}}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" [formControl]="passwordControl"
      [(ngModel)]="password">
    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    <mat-error *ngIf="passwordControl.invalid">{{getErrorMessage(passwordControl)}}</mat-error>
  </mat-form-field>

  <div class="example-button-row">
    <button mat-raised-button color="primary" [disabled]="disableButton()" (click)="onSubmit()">Login</button>
  </div>

</div>
