<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <div class="example-container">
    <mat-form-field>
      <input [(ngModel)]="userId" matInput placeholder="UserId">
    </mat-form-field>
    <button color="primary" style="margin-left:20px;" mat-raised-button (click)='getTodos()'>Get Todo List</button>
  </div>
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile *ngFor="let todo of todos" [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{todo.title}}
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Edit</button>
              <button mat-menu-item [routerLink]="['/todo-delete']">Delete</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>Status: {{ todo.status }}</div>
          <div>Priority: {{ todo.priority }}</div>
          <div>Description:</div>
          <div>{{ todo.description }}</div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
